.metadata/
RemoteSystemsTempFiles/
.recommenders/
fantasy-hockey-hidden-gems-java/bin/
fantasy-hockey-hidden-gems-java/Daily Stats/
fantasy-hockey-hidden-gems-java/Player Stats/
fantasy-hockey-hidden-gems-java/Reports/
fantasy-hockey-hidden-gems-java/.settings